<div id="navigation">
    <nav>
        <a class="nav-item" href="/">Home</a>
        <a class="nav-item" href="/tour.html">Tour</a>
        <a class="nav-item" href="/faq.html">FAQ</a>
        <a class="nav-item" href="/tools.html">Tools</a>
        <a class="nav-item" href="/room-info.html">Room Info</a>
        <a class="nav-item" href="/room-meetings.html">Room Meetings</a>
    </nav>
</div>
